# A Whale off the Port(folio)
---

In this assignment, you'll get to use what you've learned this week to evaluate the performance among various algorithmic, hedge, andmutual fund portfolios and compare them against the S&P 500 Index.

In [1]:
# Initial Imports

import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

# Data Cleaning

In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp500_history.csv`: Contains historical closing prices of the S&P 500 Index.

## Whale Returns

Read the Whale Portfolio daily returns and clean the data

In [22]:
# Reading whale returns
path = "C:/Users/bmccr/smu-virt-fin-pt-04-2021-u-c/smu-virt-fin-pt-04-2021-u-c/04-Pandas/Pandas Homework/Starter_Code/Resources/"
whale_df = pd.read_csv(path + "whale_returns.csv")
whale_df.head()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
0,2015-03-02,NaN,NaN,NaN,NaN
1,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2,2015-03-04,0.002230,0.003241,-0.002534,0.004213
3,2015-03-05,0.004016,0.004076,0.002355,0.006726
4,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098

In [23]:
whale_df.dtypes

Date                            object
SOROS FUND MANAGEMENT LLC      float64
PAULSON & CO.INC.              float64
TIGER GLOBAL MANAGEMENT LLC    float64
BERKSHIRE HATHAWAY INC         float64
dtype: object

In [24]:
# Convert date object to datetime
whale_df["Date"] = pd.to_datetime(whale_df["Date"])

In [25]:
whale_df.dtypes

Date                           datetime64[ns]
SOROS FUND MANAGEMENT LLC             float64
PAULSON & CO.INC.                     float64
TIGER GLOBAL MANAGEMENT LLC           float64
BERKSHIRE HATHAWAY INC                float64
dtype: object

In [13]:
whale_df.shape

(1060, 5)

In [14]:
# Count nulls
whale_df.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [15]:
# Drop nulls
whale_df.dropna(inplace = True)

In [16]:
whale_df.shape

(1059, 5)

## Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data

In [26]:
# Reading algorithmic returns
algo_df = pd.read_csv(path + "algo_returns.csv")
algo_df.head()

         Date    Algo 1  Algo 2
0  2014-05-28  0.001745     NaN
1  2014-05-29  0.003978     NaN
2  2014-05-30  0.004464     NaN
3  2014-06-02  0.005692     NaN
4  2014-06-03  0.005292     NaN

In [27]:
algo_df.dtypes

Date       object
Algo 1    float64
Algo 2    float64
dtype: object

In [28]:
# Convert date object to datetime
algo_df["Date"] = pd.to_datetime(algo_df["Date"])

In [29]:
algo_df.dtypes

Date      datetime64[ns]
Algo 1           float64
Algo 2           float64
dtype: object

In [30]:
# Count nulls
algo_df.isnull().sum()

Date      0
Algo 1    0
Algo 2    6
dtype: int64

In [31]:
algo_df.shape

(1241, 3)

In [32]:
# Drop nulls
algo_df.dropna(inplace = True)

In [33]:
algo_df.shape

(1235, 3)

In [ ]:
combined_df = pd.merge(whale_df,algo_df, how ="inner", on = "Date")

combined_df = combined_df.T.drop_duplicates().T
combined_df